

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes initarm {
    from{
        -webkit-transform: rotate(-70deg);
    }
    to{
        -webkit-transform: rotate($arm_end_pos);
    }
}

@-webkit-keyframes wobblearm  {
  0%  { -webkit-transform:  rotate($arm_end_pos); }
  20%  { -webkit-transform:  rotate($arm_end_pos - .32); }
  50%  { -webkit-transform:  rotate($arm_end_pos + .32); }
  100%  { -webkit-transform:  rotate($arm_end_pos); }
}
