$base-width:100% * 1.4;

#audio{
	background:url('../images/recordbg.jpg') no-repeat center center;
	background-size:contain;
	background-position:top right;

}

.spinner{
	overflow:hidden;
	height:100%;
	position:relative;
}

.record{
	/* Measure */
	width:$base-width;
	height:0;

	/* Appearence */
	background:#121113;
	background:url('../images/disc2.jpg') no-repeat center center;
	background-size:100%;
	border-radius:50%;
	border:4px solid #000;
	padding-bottom:$base-width;

	/* Position */
	position: absolute;
	margin-left:-$base-width/2;
	margin-top:-$base-width/2;

	/* Behavior */
	/* Pseudo */

	label{

		/* Measure */
		height:0;

		/* Appearence */
		background:url('../images/label.gif');
		background-size:cover;
		background-position:center center;
		background-repeat:no-repeat;
		padding-bottom:35%;
		border-radius:50%;
		text-align:center;
		font-family: 'Special Elite', cursive;
		line-height:1;

		/* Position */
		@include center(35%);

		/* Behavior */
		display:block;
		user-select: none;

		/* Pseudo */


		.artist{

			/* Measure */
			width:50%;

			/* Appearence */
			color:#222;
			font-size: 2.9vw;

			/* Position */
			position: absolute;
			top:15%;
			left:50%;
			margin-left:-25%;

			/* Behavior */
			display:none;


		}

		.title{

			/* Measure */
			width:50%;

			/* Appearence */
			font-size: 1.2vw;
			color:#222;

			line-height:1.5em;

			/* Position */
			position: absolute;
			top:56%;
			left:50%;
			margin-left:-25%;

		}
	}

}


.record_spec{

	/* Measure */
	width:$base-width;
	height:0;

	/* Appearence */
	background:#121113;
	background:url('../images/disc.gif')no-repeat center center;
	background-size:100%;
	border-radius:50%;
	border:4px solid #000;
	padding-bottom:$base-width;
	opacity:.4;
	box-shadow: 1px 1px 1px 1px #000;

	/* Position */
	margin-left:-70%;
	position: absolute;
	left:0;
	margin-top:-70%;


}

.hole{
	background:black;
	@include center(3%);
	height:3%;
	border-radius:50%;
}

.arm-container{

	.arm{
		width:$base-width * 0.42857142857;
		height:0;
		padding-bottom:100%;
		background: url('../images/arm.gif') no-repeat center center;
		background-size:contain;
		position: absolute;
		left: 0;
		margin-top:-35%;
		margin-left:-$base-width * 0.28571428571;
		-webkit-transform-origin:100% -10%;
		-webkit-transform: rotate($arm_end_pos);
	}
}

.slider{

	/* Measure */
	width:$base-width * 0.45;

	/* Appearence */
	-webkit-transform: rotate(-8deg);

	/* Position */
	position: absolute;
	top:0;
	left:$base-width * 0.07142857142;
	margin-top:23%;


	/* Behavior */

	/* Pseudo */
	&.noUi-background{
		background: none;
		border:0;
		box-shadow:none;
		opacity:1;
	}

	.noUi-handle{

		/* Measure */
		width:150px;
		height:150px;

		/* Appearence */
		opacity:0;
		border-radius:50%;
		padding:0;
		border:0 !important;

		/* Position */
		left:-55px;
		top:-55px;

		/* Behavior */
		cursor:ew-resize;

		/* Pseudo */
		&::before,&::after{
			display:none;
		}

		@media screen and (min-width:800px){
            opacity:0;
        }

	}
}
