.spinner{
	overflow:hidden;
	height:100%;
	position:relative;
}

$base-width:100% * 1.4;

/* ul.records{
	position:absolute;
	right:0;
	left:0;
	bottom:0;
	background:black;
	width:100%;
	height:100px;


	li{
		display:block;
		height:130px;
		width:130px;
		border-radius:3px;
		margin-left:20px;
		margin-bottom:20px;
		background:black;
		float:left;
	}
} */

.record{
	background:#121113;
	background:url('../images/disc2.jpg') no-repeat center center;
	background-size:100%;
	border-radius:50%;
	border:4px solid #000;
	width:$base-width;
	height:0;
	position: absolute;
	margin-left:-$base-width/2;
	margin-top:-$base-width/2;
	padding-bottom:$base-width;

	label{
		background:url('../images/label.gif');
		background-size:cover;
		background-position:center center;
		background-repeat:no-repeat;
		display:block;
		@include center(35%);
		height:0;
		padding-bottom:35%;
		border-radius:50%;
		text-align:center;
		font-family: 'Rye', cursive;
		line-height:1;
		user-select: none;

		.artist{
			position: absolute;
			top:15%;
			left:50%;
			margin-left:-25%;
			width:50%;
			color:#d9dada;
			font-size: 2.9vw;
			display:none;
		}

		.title{
			position: absolute;
			top:56%;
			left:50%;
			margin-left:-25%;
			width:50%;
			font-size: 1.2vw;
			color:white;
			text-shadow:1px 1px 1px #999;
			line-height:1.5em;
		}
	}

}


.record_spec{
	background:#121113;
	background:url('../images/disc.gif')no-repeat center center;
	background-size:100%;
	border-radius:50%;
	border:4px solid #000;
	width:$base-width;
	height:0;
	margin-left:-70%;
	position: absolute;
	padding-bottom:$base-width;
	left:0;
	//top:-50%;
	margin-top:-70%;
	opacity:.4;
	-webkit-box-shadow: 1px 1px 1px 1px #000;
	box-shadow: 1px 1px 1px 1px #000;
}

.hole{
	background:black;
	@include center(3%);
	height:3%;
	border-radius:50%;
}



.arm-container{

	.arm{
		width:$base-width * 0.42857142857;
		height:0;
		padding-bottom:100%;
		background: url('../images/arm_red.gif') no-repeat center center;
		background-size:contain;
		position: absolute;
		left: 0;
		margin-top:-35%;
		margin-left:-$base-width * 0.28571428571;
		-webkit-transform-origin:100% -10%;
		-webkit-transform: rotate($arm_end_pos);
	}
}

.slider{

	position: absolute;
	top:0;
	left:$base-width * 0.07142857142;
	margin-top:23%;
	width:$base-width * 0.45;
	-webkit-transform: rotate(-8deg);

	&.noUi-background{
		background: none;
		border:0;
		box-shadow:none;
		opacity:1;
	}

	.noUi-handle{
		width:150px;
		height:150px;
		border-radius:50%;
		padding:0;
		left:-55px;
		top:-55px;
		border:0;
		opacity:0;
		cursor:ew-resize;
		//background:#ff0000;
		border:0 !important;

		&::before,&::after{
			display:none;
		}

		@media screen and (min-width:800px){
            opacity:0;
        }

	}
}


button.play{
	padding:2em;
	position: absolute;
	right:10px;
	top:10px;
	width:100px;
	height:100px;
	background: white;
	border:0;
}
