.switch{
	color:white;
	background:rgba(#333,0.4);
	border:0;
	position: fixed;
	right:20px;
	bottom:20px;
	height:107px;
	width:24px;
	border-radius:30px;
   	box-shadow:inset -1px 2px 8px #333;
   	padding-bottom:28px;
   	z-index:1000;
   	user-select: none;

   	.noUi-target{
   		border:0;
   		box-shadow:none;
   		height:100px;
   		background:0;
   		border:0;
   	}

   	.noUi-vertical.noUi-extended {
		padding: 10px 0;
	}

   	.noUi-handle{
		width:18px;
		height:18px;
		border-radius:50%;
		background:#ccc;
		top:-6px;
		left:2px;
		cursor:ns-resize;
		-moz-box-shadow:    inset -1px 2px 2px #aaa, -1px 2px 2px #444;
   		-webkit-box-shadow: inset -1px 2px 2px #aaa, -1px 2px 2px #444;
   		box-shadow:         inset -1px 2px 2px #aaa, -1px 2px 2px #444;

		&::after,&:before{
			display:none;
		}
	}

	a{
		font-family: 'Carrois Gothic SC', sans-serif;
		text-transform: uppercase;
		font-size:11px;
		color:#bbb;
		position: absolute;
		right:30px;
		text-decoration:none;
		font-weight:bold;
		text-shadow:-1px -1px #333;
	}


	a:nth-child(1){
		top:0;
	}

	a:nth-child(2){
		top:50%;
		margin-top:-7px;
	}

	a:nth-child(3){
		bottom:0;
	}
}