#tv{
	background:url(../images/tvbg.gif) no-repeat;
	background-position:center center;
    background-size:100%;
	height:100%;
	display:flex;
	flex-direction:column;
    justify-content:center;
    min-width:320px;
    pointer-events: none;
    position:relative;


}


    .screen{
    
        width:100%;
        height:100%;
        
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        display:flex;
        justify-content:center;
        flex-align:space-around;

    }



#player{

        background: white url(../images/noise.gif) no-repeat;
        background-size:cover;
        position: relative;

        /* Appearence */
        width:50%;
        height:0;
        padding-bottom:40%;
        z-index:0;
        margin:auto auto;
        pointer-events:auto;
        
        & iframe,
        & object,
        & embed {
            position: absolute;
            top: 0px;
            left: 0px;
            //margin:auto auto;
            width: 100%;
            height:100%;
        }
    }