<section id="video">

            <div class="tv">

                <div class="youtube">
                    <iframe width="560" height="315" src="http://www.youtube.com/embed/?loop=1&amp;vq=hd720&amp;rel=0&amp;autohide=2&amp;fs=0&amp;iv_load_policy=3&amp;disablekb=1&amp;modestbranding=1&amp;listType=playlist&amp;list=PL4dadaf1ycyVnQTJ9INfD0jfFF_XDF2cG&amp;theme=light" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="frame">
                    <div class="sliders">
                        <div class="saturation"><img src="images/tvslider.png" height="98" width="73" alt=""></div>
                        <div class="contrast"><img src="images/tvslider.png" height="98" width="73" alt=""></div>
                        <div class="lightness"><img src="images/tvslider.png" height="98" width="73" alt=""></div>
                        <div class="volume"><img src="images/tvslider.png" height="98" width="73" alt=""></div>
                    </div>
                     <ul class="channels">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>

            </div>

        </section>